.badge{
    background: none repeat scroll 0 0 #38b565;
}
.single_language > ul > li > i{
    color: #38b565;
}
.progress-bar {
    background-color: #38b565;
}
.one span:after {
    border-bottom: 1px solid #38b565;
}
.title > h1{
    color: #38b565;
}
.user_info > h1{
    color: #38b565;
}
.user_info > h2{
    color: #38b565;
}
.sub__text > span > i{
    color: #38b565;
    padding-right: 4px;
}
.single_contact > p > i {
    background: #38b565 none repeat scroll 0% 0%;
}
.single_refer > p >i{
    color: #38b565;
}
.sub__text > h5 > i{
    color: #38b565;
}
.user_img > img{
    border: 2px solid #38b565;
}
.title > i{
    color: #38b565;
}
.user_name > h1{
    color: #38b565;
}
.user_name > p > i{
    color: #38b565;
    border: 1px solid #38b565;
}
.user_info  > p > i{
    color:#38b565 ;
}
.title > h1{
    border-bottom: 1px solid #38b565;
}
.sub__text{
    border-left: 1px solid #38b565 ;
}
.sub__text > i{
    color: #38b565;
}
.skills > i{
    color: #38b565;
}
 
