*{
    padding: 0px;
    margin: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background: #E2E2E5;
}
p{
    font-size: 14px;
    color: #2D2C2C;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    margin-top: 0px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    color: #000;
    margin: 0px;
    padding: 0px;
}
.container {
    max-width: 1100px !important;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 50px;
    margin-top: 128px;
    padding: 0px;
}
.main_body{
    padding: 20px 20px 50px 30px;
    overflow: hidden;
}
.fix{
    overflow: hidden;
}
.clr{
    clear: both;
}
.padding-none{padding:0;}
.no-padding{
    padding-left: 0px;
}
.badge{
    color: #fff;
    float: left;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 9px;
}

.single_language > ul > li{
    list-style-type: none;
    float: left;
    padding-right: 4px;
}
.single_language{
    margin-top: 20px;
    overflow: hidden;
}
.single_language > h2{
    margin-bottom: 3px;
}
.ti_lagn{
    padding-right: 5px;
    width: 75px;
}
.hobbies{
    margin-top: 20px;
}
.badge{
    margin-top: 5px;
}
.title{
    overflow: hidden;
    padding-top: 30px;
}

.title > h1{
    padding-bottom: 8px;
}
.progress{
    height: 19px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.skills{
    padding-bottom: 20px;
    padding-left: 20px; padding-top: 8px;
}
 .skills:first-child {padding-top: 0 !important;}
.skills > i{
    margin-left: -27px;
    margin-top: -1px;
}
.skills > h2{
    line-height: 17px;
}
.skil{
    margin-bottom: 20px;
}
.objective_text > p{
    text-align: justify;
    padding-top: 20px;
}
.single_company{
    padding-top: 20px;
    clear: both;
}
.sub__text > h4{
    margin-top: 5px;
}
.sub__text > p{
    margin-top: 4px;
    text-align: justify;
}
.sub__text > span > i{
    padding-right: 4px;
}
.sub__text > span.year{
    font-weight: bold;
}
.sub__text{
    padding-left: 20px;
    position: relative;
}
.sub__text > i{
    margin-left: -27px;
    position: absolute;
    margin-top: -1px;
}
.sub__text > h5{
    line-height: 24px;
}
.sub__text > h3{
    line-height: 24px;
}
.sub__text > h5 > i{
    padding-right: 4px;
}
.sub__text > span{
    line-height: 24px;
}
.single_contact > p > i {
    border-radius: 50%;
    padding: 10px 11px;
    color: #FFF;
    font-size: 15px;
    margin-right: 7px;
}
.loc > p > i{
    padding: 10px 12px;
}
.references_area {
    overflow: hidden;
    clear: both;
}
.single_refer{
    margin-top: 20px;
}
.single_refer > h3{
    line-height: 25px;
}
.user_name > h1{
    text-transform: uppercase;
    font-size: 33px;
    padding-top: 60px;
}
.user_info{
    float: right;
    padding-top: 55px;
}
.user_info  > p{
    float: right;
    padding-top: 5px;
}
.user_info  > p > i{
    padding-left: 5px;
}
.top_section {
    background: #efefef;
    padding: 50px 30px 36px 14px;
}
.skills > i {
    
    line-height: 22px;
}
/*responsive css*/
@media (max-width: 980px) {
    .right_img {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .user_info {
        padding-bottom: 0px;
    }
}
@media (max-width: 800px) {
    .right_img {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .user_info {
        padding-bottom: 0px;
    }
}
@media (max-width: 768px) {
    .right_img {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .user_info {
        padding-bottom: 0px;
    }
}
@media (max-width: 360px) {
    .right_img, .right_sidebar {
        background: none;
    }
    .right_img {
        padding-top: 0px;
    }
    .user_info > h1,.user_info > h2{
        text-align: center;
    }
    .user_info{
        text-align: left;
        float: left;
    }
    .user_info > p{
        float: left;
    }
    .user_name > p{
        text-align: left;
        padding-left: 35px;
    }
    .user_name{
        text-align: center;
    }
    .user_name > h1{
        text-transform: uppercase;
        font-size: 28px;
        padding-top: 20px;
    }

    .user_img{
        text-align: center;
    }
    .main_body {
        padding: 15px;
        overflow: hidden;
    }

}

@media (max-width: 320px) {
    .right_img, .right_sidebar {
        background: none;
    }
    .right_img {
        padding-top: 0px;
    }
    .user_info{
        text-align: left;
        float: left;
    }
    .user_info > p{
        float: left;
    }
    .empty_height {
        padding-top: 35px;
    }
    .right_img {
        padding-bottom: 18px;
    }
    .user_name{
        text-align: center;
    }
    .user_name > h1{
        text-transform: uppercase;
        font-size: 28px;
        padding-top: 20px;
    }
    .main_body {
        padding: 15px;
        overflow: hidden;
    }
}

