/*
------------------------------------
- Responsive style css
------------------------------------
*/

@media (max-width: 360px) {
    .one span {
        font-size: 31px;
    }
    .css-shapes-preview {
        height: 33px;
        width: 33px;
    }
    .education-title > h1 > span > i {
        font-size: 22px;
        margin-left: -31px;
        margin-top: -5px;
    }
    .title > h1 > span > i.fa-heartbeat {
        font-size: 23px;
        margin-left: -28px;
        margin-top: -5px;
        padding-right: 23px;
    }
    .title > h1 > span > i.fa-wrench {
        font-size: 22px;
        margin-left: -26px;
    }
    .title > h1 > span > i.fa-language {
        font-size: 22px;
        margin-left: -26px;
    }
    .title > h1 > span > i.fa-user-plus {
        font-size: 22px;
        margin-left: -27px;
    }
    .title > h1 > span > i.fa-certificate {
        font-size: 22px;
        margin-left: -27px;
        margin-top: -6px;
        padding-right: 25px;
    }
    .title > h1 > span > .fa.fa-trophy {
        font-size: 23px;
        margin-left: -27px;
        margin-top: -6px;
    }
    .title > h1 > span > .fa.fa-laptop {
        font-size: 22px;
        margin-left: -29px;
    }
    .title > h1 > span > i.fa-suitcase {
        font-size: 20px;
        margin-left: -27px;
        margin-top: -7px;
    }
    .year > p {
        font-size: 25px;
    }
    .skills .col-xs-6 {
        width: 100%;
        padding: 0;
    }
}
@media (max-width: 480px) {
    .language .right-lan {
        float: left !important;
        width: 100% !important;
    }
    .language .left-lan {
        float: left !important;
        width: 100% !important;
    }
    .language > .right-lan > .single-language > h2 i {
        float: left;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: left;
    }
    .language > .right-lan > .single-language > ul > li {
        float: left;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0;
        padding-right: 0;
        text-align: left;
    }
}
@media (width: 568px) {
    .single-language > ul {
        display: block;
        overflow: hidden;
    }
    .language .col-xs-9 {
        width: 50%;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
}
@media (width: 640px) {
    .single-language > ul {
        display: block;
        overflow: hidden;
    }
    .language .col-xs-9 {
        width: 50%;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
    .single-language > ul {
        overflow: hidden;
        padding-top: 0;
    }
}
@media (width: 667px) and (width: 568px) {
    .single-language > ul {
        display: block;
        overflow: hidden;
    }
    .language .col-xs-9 {
        width: 50%;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
}
@media (width: 667px) {
    .single-language > ul {
        display: block;
        overflow: hidden;
    }
    .language .col-xs-9 {
        width: 50%;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
}
@media (width: 732px) {
    .single-language > ul {
        display: block;
        overflow: hidden;
    }
    .language .col-xs-9 {
        width: 50%;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
}
@media (max-width: 766px) {
    .portfolio .single-secsion-data {
        padding-left: 15px;
        padding-right: 0;
    }
    .language .left-lan {
        max-width: 215px;
    }
    .language .right-lan {
        max-width: 215px;
        float: right;
    }
    .language > .right-lan > .single-language > h2 i {
        float: right;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > h2 {
        text-align: right;
    }
    .language > .right-lan > .single-language > ul > li {
        float: right;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        margin: 0 0 0 10px;
        padding-right: 0;
        text-align: right;
    }
}
@media (max-width: 773px) {
    .year > p {
        font-size: 26px;
    }
}
@media (max-width: 980px) {
    .language > .right-lan > .single-language > h2 {
        text-align: left;
    }
    .language > .right-lan > .single-language > h2 i {
        float: left;
        margin-right: 10px;
    }
    .language > .right-lan > .single-language > ul > li {
        float: left;
    }
    .language > .right-lan > .single-language > ul > li.skill-type {
        text-align: left;
        padding-right: 4px;
        margin: 0 10px 0 0;
    }
}